

.view-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  
  .view-table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; 
  }
  
  .view-table th,
  .view-table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .view-table th {
    background-color: #f8f9fa;
  }
  
  @media screen and (max-width: 768px) {
    .view-table {
      font-size: 5px; 
    }
    .view-table th,
  .view-table td {
    padding: 5px; 
    border: 1px solid #ccc; 
  }
  }
  