

.admin-login-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('C:\Users\HP\Downloads\cars-life-blog-yaIFQTqnnEw-unsplash.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  .admin-form-main {
    width: 400px;
    background-color: rgba(243, 228, 180, 0.8); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .admin-form-main h2 {
    color: #050505;
  }
  
  .admin-form-main label {
    display: block;
    color: #111010;
  }
  
  .admin-form-main input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #a39999;
    border-radius: 4px;
  }
  
  .admin-btn-login {
    width: 100%;
    padding: 10px;
    background-color: #030000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-btn-login:hover {
    background-color: #fefafa;
    color: black;
  }
  
  .admin-error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .admin-form-main p {
    margin-top: 15px;
    color: #555;
  }
  
  .admin-form-main a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
  }
  
  .admin-form-main a:hover {
    text-decoration: underline;
  }
  